
<div class="container-fluid">

  <h1> eWarehouse - Nova Venda </h1>


  <ul class="nav nav-pills">
    <li><%= link_to 'Início', sales_path %></li>
    <li class="active"><%= link_to 'Nova Venda', new_sale_path %></li>
    <li class="disabled"><a href="#disabled">Detalhes Venda</a> </li>
    <li class="disabled"><a href="#disabled">Editar Venda</a> </li>
  </ul>

  <h3>Preencher o formulário</h3>

  <%= render 'saveup'%>

</div>
